<!-- templates/index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Streamed Content</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css')}}"/>
</head>
<body class="text-center">
    <h1 class="border-bottom">Streamed Content</h1>
    <div class="container-fluid h-100 mt-1 mb-1 overflow-y-auto ">
        <div class="list-group border ms-auto me-auto col-10 text-start w-75 mt-auto h-100 mt-1 border-2 border-secondary-subtle">
            {% for key, value in chatHistory.items() %}
                <div class="list-group-item ms-auto me-auto border-0 w-100 col-12">
                    <div class="bg-light-subtle border-bottom 1">
                        <pre>{{ key | safe }}</pre>
                    </div>
                    <div class="bg-light mb-1">
                        <pre> {{ value | safe }}</pre>
                    </div>
                </div>
            {% endfor %}
            <div class="list-group-item ms-auto me-auto border-0 w-100 col-12">
                <div class="bg-light-subtle border-bottom 1">
                    <pre>{{ currentPrompt }}</pre>
                </div>
                <div class="bg-light mb-1">
                    <pre id="content"></pre>
                </div>
            </div>
        </div>
    </div>

    <form method="POST" action="/">
        <div class="mb-3 mt-3">
            <label for="prompt" class="form-label">Prompt:</label>
            <input type="text" class="form-control" id="prompt" name="prompt" required>
        </div>
        <button type="submit" class="btn btn-primary">Generate</button>
    </form>

    {% if promptGenerated %}
    <script type="text/javascript">
        let prompt = "{{ currentPrompt }}";
        console.log(prompt)
        let source = new EventSource("/stream/" + prompt);

        source.onmessage = function(event) {
            let token = event.data;
            let contentDiv = document.getElementById("content");
            contentDiv.innerHTML += token;
            console.log(token)
        };
    </script>
    {% endif %}
</body>
</html>
